*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-frame {
  width: 500px;
  height: 500px;
  border: 20px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-family: "Libre Baskersville", serif;
  font-size: 250px;
  font-weight: 700;
  text-align: center;
}
