*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(10, 100%, 89%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-frame {
  min-width: 500px;
  min-height: 500px;
  border: 20px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 50px;
}

.counter {
  font-family: "Libre Baskersville", serif;
  font-size: 125px;
  font-weight: 700;
  text-align: center;
}

.counter-meta {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 32px;
}

.counter-btn {
  background-color: hsla(0, 5%, 11%, 0.957);
  color: hsl(0, 0%, 100%);
  font-size: 28px;
  font-family: "Libre Baskersville";
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 12px;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
}

.counter-btn:hover {
  background-color: hsl(181, 100%, 12%);
}

.user-input {
  width: 128px;
  font-size: 28px;
  padding: 12px;
  border-radius: 6px;
}

.user-input:focus {
  outline: none;
}
