*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-frame {
  min-width: 500px;
  min-height: 500px;
  border: 20px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 50px;
}

.counter {
  font-family: "Libre Baskersville", serif;
  font-size: 125px;
  font-weight: 700;
  text-align: center;
}
